.hero-area {
    background-image: url('./clever/img/bg-img/bg1.jpg');
    position: relative;
    z-index: 2;
    width: 100%;
    height: 400px;
    background-attachment: fixed;
}


.bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-overlay,
.foo-bg-overlay,
.bg-overlay-2by5 {
    position: relative;
    z-index: 1;
    background-position: center center;
    background-size: cover;
}

.bg-overlay::after,
.foo-bg-overlay::after,
.bg-overlay-2by5::after {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
}

.foo-bg-overlay::after {
    background-color: rgba(0, 0, 0, 0.91);
}

.bg-overlay-2by5::after {
    background-color: rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1024px) {
    .container {
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: calc(100% - 30px);
        max-width: 100%;
    }
}

.hero-area .hero-content h2 {
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: 700;
    color: #ffffff;
}


.clever-btn {
    display: inline-block;
    min-width: 160px;
    height: 40px;
    background-color: #3762f0;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    color: #ffffff;
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 0 30px;
    line-height: 40px;
    text-align: center;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
  }
  
  .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .700rem .75rem;
    /* font-size: 1rem; */
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  .clever-btn.active,
  .clever-btn:hover,
  .clever-btn:focus {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background-color: #2c56df;
  }
  .clever-btn.btn-2 {
    background-color: transparent;
    border: 1px solid #ebebeb;
    color: rgba(0, 0, 0, 0.25);
  }
  .clever-btn.btn-2:hover,
  .clever-btn.btn-2:focus {
    color: #ffffff;
    background-color: #2c56df;
    border: 1px solid #2c56df;
  }